.app {
  margin: 5px;
}

.logo {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #7e92a2;
  margin-right: 15px;
}

.card {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 20px;
  border: 1px solid gray;
}

.header {
  margin-bottom: 10px;
}

.set-list {
  list-style: none;
}

.errors {
  color: red;
}

.success {
  color: green;
}

form {
  margin: 10px 0;
}

.deleteBtn,
.cardBtn {
  display: block;
  margin: 5px 0;
}


/* User Form */

.labeled-input label {
  display: block;
  font-weight: bold;
}

.labeled-input input {
  display: block;
  margin-bottom: 10px;
}

/* Message for shuffling deck */
.shuffled-hide {
  opacity: 0;
  transition: opacity 1s linear;
  cursor: default;
}

.shuffled-show {
  cursor: default;
}