@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .3px;
}

.container {
  max-width: 960px;
  margin: auto;
  
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 0 10px;
  }
}

h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.my-hr {
  max-width: 480px;
  margin: 30px 0;
  border: none;
  height: 1px;
  background-color: #B8B8B8;
}

.errors {
  color: red;
}

.warning {
  color: orange;
}

.success {
  color: green;
}

form {
  margin: 10px 0;
}
