.app {
  margin: 5px;
}

.card {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 20px;
  border: 1px solid gray;
}

.set-list {
  list-style: none;
}

.errors {
  color: red;
}

form {
  margin: 10px 0;
}

.deleteBtn,
.cardBtn {
  display: block;
  margin: 5px 0;
}


/* User Form */
.user-form label {
  display: block;
}

.user-form input {
  display: block;
  margin-bottom: 10px;
}

.user-form button {
  display: block;
  margin: 10px 0;
}

/* Message for shuffling deck */
.shuffled-hide {
  opacity: 0;
  transition: opacity 1s linear;
  cursor: default;
}

.shuffled-show {
  cursor: default;
}