.deck header {
  margin-bottom: 20px;
}

.deck h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

.deck hr {
  max-width: 480px;
  margin: 10px 0;
  border: none;
  height: 1px;
  background-color: #B8B8B8;
}

.start-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  font-size: 20px;
  color: white;
  background-color: #00bcd4;
  border-radius: 10px;
}

.start-btn:hover {
  text-decoration: none;
  background-color: #00a2b7;
}

.hint {
  color: #675849;
}